* {
    font-family: Ubuntu;
    font-size: 14px;
}

.conceal {
    -webkit-text-security: disc;
}

#mainBody {
    background-color: #484848;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: small;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

optionsHeader {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font-size: small;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: small;
    color: #484848;
    font-style: italic;
    text-align: center;
}

h4 {
    font-size: small;
    color: #8ABC3F;
    text-align: center;
}

h5 {
    font-size: x-small;
    color: #484848;
    text-align: center;
}

small {
    font-size: x-small;
}

a:link, a:visited {
    color: #484848;
}
a:hover {
    color: #B5B5B9;
}

ul {
    padding-left: 15px;
    margin-left: 10px;
}

input {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
}
    
input.checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    *overflow: hidden;
}

#playerNameInput {
    padding: 10px;    
    font-size: larger;
}

#playerKeyInput {
    padding: 3px;    
    color: gray;
}

input:focus, input.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#startMenu {
    position: relative;
    margin: auto;
    width: 1150px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #DDE6EB;
    box-sizing: border-box;
    overflow: hidden;
}
#startMenuHeader {
    text-align: left;
    width: 100%;
    height: 100%;
}

.startMenuHolder {
    width: 350px;
    height: 340px;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: text-top;
}

.sliderHolder {
    width: 350px;
    height: 285px;
    overflow: hidden;
}

td {
    width: 50%;
}

table {
    width: 100%;
}

.slider {
    position: relative;
    top: 0px;
    width: 100%;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -o-transition: top 500ms;
    transition: top 500ms;
}

#startMenuSlidingContent {
    height: 265px;    
}

#startMenuSlidingTrigger {
    cursor: pointer;
    height: 15px;    
}
#startMenuSlidingTrigger:hover {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

update {
    color: #D83848;
    font-weight: bold;
}

#patchNotesIFrame {
    width: 350px;
    height: 335px;
}

#patchNotes {
    padding: 10px;
    width: 90%;
    height: 100%;
    overflow: auto;
}

#startButton {
    position: relative;
    margin: auto;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: larger;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #B9E87E;
    border: 0;
    border-bottom: 2px solid #8ABC3F;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #8ABC3F;
    box-shadow: inset 0 -2px #8ABC3F;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#startButton:active, #startButton:hover {
    top: 1px;
    background: #8ABC3F;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form {
    display: inline-block;
}

#bottomHolder {
    text-align: right;
}
#donate {
    position: relative;
    margin: 2px;
    padding: 5px;
    width: 80px;
    box-sizing: border-box;
    font-size: smaller;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #B58EFD;
    border: 0;
    border-bottom: 2px solid #8D6ADF;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #8D6ADF;
    box-shadow: inset 0 -2px #8D6ADF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#donate:active, #donate:hover {
    top: 1px;
    background: #8D6ADF;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#pledge {
    position: relative;
    margin: 2px;
    padding: 5px;
    width: 80px;
    box-sizing: border-box;
    font-size: smaller;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #E7896D;
    border: 0;
    border-bottom: 2px solid #D83848;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #D83848;
    box-shadow: inset 0 -2px #D83848;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#pledge:active, #pledge:hover {
    top: 1px;
    background: #D83848;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#startMenuWrapper {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
}

.nopadding {
    padding : 0;
    margin: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

#startMenu .input-error {
    color: red;
    opacity: 0;
    font-size : 12px;
}

#startMenuWrapper {
    z-index: 2;
}

#gameAreaWrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}

input [type="image"]:focus{
 border:none;
 outline: 1px solid transparent;
 border-style: none;
}

*:focus {
 outline: 1px solid transparent;
 border-style: none;
}
